.pull-right.text-right
  %a.btn.btn-default.btn-sm{href: "#{refresh_path}", onclick: "$(this).attr('disabled', true);"}
    %span.glyphicon.glyphicon-refresh
    Refresh
  %br
  = last_updated(@iteration_presenter)
%h1
  Story Board
  %small (#{@iteration_presenter.iteration_date_range})
%ul.nav.nav-tabs
  %li{:class => ("active" if all_projects_tab?(@iteration_presenter))}
    %a{href: "#{iteration_path}"}
      All
      %span.label.label-default
        = @iteration_presenter.all_iteration_estimate
      -#%span.badge.alert-danger
        %span.glyphicon.glyphicon-flash
        = @iteration_presenter.all_iteration_estimate
  %li{:class => ("active" if my_stories_tab?(@iteration_presenter))}
    %a{href: "#{iteration_path(:my_stories_only => true)}"}
      My Work
      %span.label.label-default
        = @iteration_presenter.my_iteration_estimate
  - @iteration_presenter.projects.each do |project|
    %li{:class => ("active" if project.id == @iteration_presenter.selected_project_id)}
      %a{href: "#{project_path(:project_id => project.id)}"}
        = project.name
        %span.label.label-default
          = @iteration_presenter.project_iteration_estimates[project.id]
%br
.row
  - @iteration_presenter.columns.each do |column|
    .col-md-2
      .well.well-sm.text-center
        %strong
          = column[:title]
          %span.label.label-default= column[:total]
      %ul.list-group
        - column[:stories].each do |story|
          %li.list-group-item{:class => "list-group-item-#{story_state_color(story.current_state)}"}
            = story_icon(story.story_type)
            %span.label{:class => "label-#{story_state_color(story.current_state)}"}= story.estimate
            %span.glyphicon.glyphicon-info-sign{:title => story.name, :"data-container" => "body", :"data-toggle" => "popover", :"data-placement" => "right", :"data-content" => story.description}
            %a{href: story.url, target: "_blank"}
              %span.glyphicon.glyphicon-link
            - story.github_urls.each do |github_url|
              %a{href: github_url, target: "_blank"}
                %span.fa.fa-github
            %small
              %strong
                %span{style: "color: green;"}
                  %small
                    = story.labels.map(&:name).join(", ")
              = story.name
              %div
                %small
                  #{ raw role_initials(story, "requester") }
                  #{ raw role_initials(story, "developers") }
                  #{ raw role_initials(story, "reviewers") }
                  #{ raw role_initials(story, "qa") }
